.bg-light {
    --bs-bg-opacity: 1;
   
}
button.navbar-toggler {
     color: white;
    background-color: black;
}
#sbt{
    border: solid 1px white;
    color: black;
    background-color: rgb(248, 255, 245);
    border-radius: 5px;
    width: 9vw;
    margin: 5px;
    padding: 1px;
    cursor: pointer;
    
}
.sec1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 1rem;
}
.S2{
    font-family: 'Alkalami', serif;
    text-align: center;
    margin-top: 3%;
}
.s3{
    width: 100%;
}